<%- include header %>

<div class="app-body">
  <%- include menu %>
  <main class="main">
    <!-- Breadcrumb-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">GP Contract</li>
      <li class="breadcrumb-item active">Modify Whitelist</li>
    </ol>

    <div class="container-fluid">
      <div class="animated fadeIn">
        <div class="card">
          <div class="card-header">batchModifyWhiteList(policy, investor, fromTime, toTime, expiryTime, canTransfer)</div>
          <div class="card-body">
            <div class="bd-example">
              Modify Whitelist
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include code %>

  </main>
</div>
<script type="text/javascript">

  function runCode() {
    var now = Math.floor(new Date().getTime()/1000);
    var policy=config.contract.GP, investor='0xd0f8acb72bf8701117dadea38754adb3dd9f43c5', fromTime=now, toTime=now, expiryTime=now+3600*24*999999999, canTransfer=true;
    console.log(policy, [investor], [fromTime], [toTime], [expiryTime], [canTransfer]);
    batchModifyWhiteList(policy, [investor], [fromTime], [toTime], [expiryTime], [canTransfer]).then();
  }

  async function batchModifyWhiteList(policy, investor, fromTime, toTime, expiryTime, canTransfer) {
    var res = getWeb3Account();
    var account = res.data;
    var result = "Account" + account +"\n";
    if(res.code!=0) {
      result += res.msg+ '\n';
      setResult(result);
      return;
    }

    try {
      var nonce = await getWeb3Nonce(account);
      result += "nonce:" + nonce + "\n";
      var param = {address: policy, abi: abiGP, sender: account, nonce: nonce};
      var gp = new GP(web3, param);
      res  = await gp.batchModifyWhitelist(investor, fromTime, toTime, expiryTime, canTransfer);
      result += "tx:" + res + "\n";
    } catch (e) {
      result += "error:" + e + "\n";
    }

    setResult(result);

  }

  // var Web3 = require('web3');
  $(document).ready(function() {
    var code = runCode.toString() + "\n\n";
    code += batchModifyWhiteList.toString() + "\n\n";
    code += "runCode();\n\n";
    setCode(code);

  });

</script>
<%- include footer %>
