<%- include header %>

<div class="app-body">
  <%- include menu %>
  <main class="main">
    <!-- Breadcrumb-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">Basic</li>
      <li class="breadcrumb-item active">Get ethereum network</li>
    </ol>

    <div class="container-fluid">
      <div class="animated fadeIn">
        <div class="card">
          <div class="card-header">checkNetwork()</div>
          <div class="card-body">
            <div class="bd-example">
              Get ethereum network
          </div>
            </div>
        </div>
        </div>
    </div>

    <%- include code %>

  </main>
</div>
<script type="text/javascript">

  function runCode() {
    checkNetwork();
  }

  async function checkNetwork() {
    var result = "";

    try {
      var res = await getEthNetWork();
      result += "result:" + res + "\n";
    } catch (e) {
      result += "error:" + e + "\n";
    }

    setResult(result);

  }

  // var Web3 = require('web3');
  $(document).ready(function() {

    var code = runCode.toString() + "\n\n";
    code += checkNetwork.toString() + "\n\n";
    code += "runCode();\n\n";
    setCode(code);
  });

</script>
<%- include footer %>
