<!DOCTYPE html>
<!--
* CoreUI - Free Bootstrap Admin Template
* @version v2.1.8
* @link https://coreui.io
* Copyright (c) 2018 creativeLabs Łukasz Holeczek
* Licensed under MIT (https://coreui.io/license)
-->

<html lang="en">
<head>
  <base href="./">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
  <meta name="author" content="Łukasz Holeczek">
  <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
  <title>Play With Contract </title>
  <!-- Icons-->
  <link href="vendors/@coreui/icons/css/coreui-icons.min.css" rel="stylesheet">
  <link href="vendors/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">
  <link href="vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="vendors/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
  <!-- Main styles for this application-->
  <link href="css/style.css" rel="stylesheet">
  <link href="vendors/pace-progress/css/pace.min.css" rel="stylesheet">
  <script src="vendors/jquery/js/jquery.min.js"></script>
  <script src="js/common.js"></script>
  <script src="js/config/contract.dev.js"></script>
  <script src="js/config/contract.ropsten.js"></script>
  <script src="js/config.js"></script>
  <script src="vendors/my-public/js/Web3Helper.js"></script>
  <script src="vendors/my-public/js/abiPolicyRegistry.js"></script>
  <script src="vendors/my-public/js/abiSecurityToken.js"></script>
  <script src="vendors/my-public/js/abiSTGFactory.js"></script>
  <script src="vendors/my-public/js/abiSTO.js"></script>
  <script src="vendors/my-public/js/abiSTOFactory.js"></script>
  <script src="vendors/my-public/js/abiGP.js"></script>

  <script src="vendors/my-public/js/STGFactory.js"></script>
  <script src="vendors/my-public/js/STOFactory.js"></script>
  <script src="vendors/my-public/js/SecurityToken.js"></script>
  <script src="vendors/my-public/js/PolicyRegistry.js"></script>
  <script src="vendors/my-public/js/GP.js"></script>
  <script src="vendors/my-public/js/STO.js"></script>
  <script src="vendors/my-public/api/RAC.js"></script>
  <script src="vendors/my-public/js/role.js"></script>
  <script src="vendors/my-public/js/StorageHelper.js"></script>
  <script src="vendors/my-public/js/EventHelper.js"></script>
  <script src="vendors/my-public/js/TxHelper.js"></script>
  <script src="vendors/my-public/js/ContractHelper.js"></script>
  <script src="vendors/my-public/js/Web3Formater.js"></script>
  <script src="vendors/bignumber.js/bignumber.min.js"></script>
  <script src="vendors/web3/0.2/Web3EventCoder.js"></script>
  <script src="vendors/web3/0.2/Web3InputCoder.min.js"></script>



  <script type="text/javascript">

  </script>
</head>
<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
<header class="app-header navbar">
    <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">
      <div class="navbar-brand-full" width="89" height="25" alt="CoreUI Logo" style="font-size: xx-large;font-family: serif;font-weight: bold;"> STOPlay</div>
    </a>
    <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show">
        <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="nav navbar-nav d-md-down-none">
        <li class="nav-item px-3">
            <a class="nav-link" href="/">Dashboard</a>
        </li>

    </ul>
    <ul class="nav navbar-nav ml-auto">

    </ul>

</header>
