<%- include header %>

<div class="app-body">
  <%- include menu %>
  <main class="main">
    <!-- Breadcrumb-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">ST Contract</li>
      <li class="breadcrumb-item active">Allocate shares</li>
    </ol>

    <div class="container-fluid">
      <div class="animated fadeIn">
        <div class="card">
          <div class="card-header">batchMint(securityToken, investors, amounts)</div>
          <div class="card-body">
            <div class="bd-example">
              Allocate shares
          </div>
            </div>
        </div>
        </div>
    </div>

    <%- include code %>

  </main>
</div>
<script type="text/javascript">

  function runCode() {
    var securityToken = config.contract.ST, investor=web3.eth.coinbase, amount=web3.toWei(2,'ether');
    console.log(securityToken, investor, amount);
    batchMint(securityToken, investor, amount).then();
  }

  async function batchMint(securityToken, investor, amount) {
    var res = getWeb3Account();
    var account = res.data;
    var result = "Account:" + account +"\n";
    if(res.code!=0) {
      result += res.msg+ '\n';
      setResult(result);
      return;
    }

    try {
      var nonce = await getWeb3Nonce(account);
      result += "nonce:" + nonce + "\n";
      var param = {address: securityToken, abi: abiSecurityToken, sender: account, nonce: nonce};
      var st = new SecurityToken(web3, param);
      res  = await st.batchMint([investor], [amount]);
      result += "tx:" + res + "\n";
    } catch (e) {
      result += "error:" + e + "\n";
    }

    setResult(result);

  }

  // var Web3 = require('web3');
  $(document).ready(function() {
    var code = runCode.toString() + "\n\n";
    code += batchMint.toString() + "\n\n";
    code += "runCode();\n\n";
    setCode(code);

  });

</script>
<%- include footer %>
