<%- include header %>

<div class="app-body">
  <%- include menu %>
  <main class="main">
    <!-- Breadcrumb-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">Basic</li>
      <li class="breadcrumb-item active">Clear user's contracts</li>
    </ol>

    <div class="container-fluid">
      <div class="animated fadeIn">
        <div class="card">
          <div class="card-header">contractClear()</div>
          <div class="card-body">
            <div class="bd-example">
              Clear user's contracts
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include code %>

  </main>
</div>
<script type="text/javascript">
  function runCode() {
    var uid =1;
    contractClear(uid);
  }

  function contractClear(uid) {
    var result = '';
    var _chelper = new ContractHelper(uid);
    var _before = _chelper.count()
    result += 'before:'+_before;
    _chelper.clear();
    var _end = _chelper.count()
    result += ' end:'+_end+ '\n';
    appendResult(result);
  }

  $(document).ready(function() {
    var code = runCode.toString()+"\n\n";
    code += contractClear.toString() + "\n\n";
    code += "runCode();\n\n";
    setCode(code);

  });



</script>
<%- include footer %>
