<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
          <li class="nav-item">
              <a class="nav-link" href="/">
                  <i class="nav-icon icon-speedometer"></i> Dashboard
                  <span class="badge badge-primary">NEW</span>
              </a>
          </li>
          <li class="nav-title">Summary</li>
          <li class="nav-item">
              <a class="nav-link" href="intro">
                  <i class="nav-icon icon-drop"></i>Introduction</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="runCode">
              <i class="nav-icon icon-puzzle"></i> Run code</a>
          </li>

          <li class="nav-title">API</li>
          <li class="nav-item nav-dropdown">
              <a class="nav-link nav-dropdown-toggle" href="#">
                  <i class="nav-icon icon-layers"></i>Basic</a>
              <ul class="nav-dropdown-items">
                <li class="nav-item">
                  <a class="nav-link" href="metamask">
                    <i class="nav-icon icon-puzzle"></i> MetaMask plugin</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="getNetwork">
                    <i class="nav-icon icon-puzzle"></i> Get ETh net</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="getAccount">
                    <i class="nav-icon icon-puzzle"></i> Wallet address</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="getBalance">
                        <i class="nav-icon icon-puzzle"></i> Account balance</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="sign">
                    <i class="nav-icon icon-puzzle"></i> Signature</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="personalSign">
                    <i class="nav-icon icon-puzzle"></i> User sig</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="signTypedData">
                    <i class="nav-icon icon-puzzle"></i> Custom sig</a>
                </li>
              </ul>
          </li>

          <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
              <i class="nav-icon icon-layers"></i>Contract event</a>
            <ul class="nav-dropdown-items">
              <li class="nav-item">
                <a class="nav-link" href="contractClear">
                  <i class="nav-icon icon-puzzle"></i> Clear user's contracts</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contractSet">
                  <i class="nav-icon icon-puzzle"></i> Update user's contracts</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="eventWatch">
                  <i class="nav-icon icon-puzzle"></i> Listen event</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="eventSubscribe">
                  <i class="nav-icon icon-puzzle"></i> Subscribe event</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="eventSave">
                  <i class="nav-icon icon-puzzle"></i> Save event</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="eventProcess">
                  <i class="nav-icon icon-puzzle"></i> Handle event</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="txSet">
                  <i class="nav-icon icon-puzzle"></i> update tx hash</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="txProcess">
                  <i class="nav-icon icon-puzzle"></i> handle tx hash</a>
              </li>

            </ul>
          </li>

          <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
              <i class="nav-icon icon-layers"></i>ST contract</a>
            <ul class="nav-dropdown-items">
              <li class="nav-item">
                <a class="nav-link" href="stCheckRole">
                  <i class="nav-icon icon-puzzle"></i>Check permission</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="stAddRole">
                  <i class="nav-icon icon-puzzle"></i>Add permission</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="stRemoveRole">
                  <i class="nav-icon icon-puzzle"></i>Delete permission</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="registryPolicy">
                  <i class="nav-icon icon-puzzle"></i>ST policy registry</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="getPolicy">
                  <i class="nav-icon icon-puzzle"></i>Get ST policy</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="approve">
                  <i class="nav-icon icon-puzzle"></i>Approve transfer</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="balanceOf">
                  <i class="nav-icon icon-puzzle"></i>ST balance</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="getSTsymbol">
                  <i class="nav-icon icon-puzzle"></i>ST symbol</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="getSTname">
                  <i class="nav-icon icon-puzzle"></i>ST name</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="getSTdecimals">
                  <i class="nav-icon icon-puzzle"></i>ST granularity</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="getSTgranularity">
                  <i class="nav-icon icon-puzzle"></i>ST exchange unit</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="getSTowner">
                  <i class="nav-icon icon-puzzle"></i>ST issuer</a>
              </li>
              <!--<li class="nav-item">-->
                <!--<a class="nav-link" href="balanceOfTranche">-->
                  <!--<i class="nav-icon icon-puzzle"></i></a>-->
              <!--</li>-->
              <li class="nav-item">
                <a class="nav-link" href="mint">
                  <i class="nav-icon icon-puzzle"></i>Allocate shares</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="batchMint">
                  <i class="nav-icon icon-puzzle"></i>Allocate shares(batch)</a>
              </li>
              <!--<li class="nav-item">-->
                <!--<a class="nav-link" href="mintTranche">-->
                  <!--<i class="nav-icon icon-puzzle"></i></a>-->
              <!--</li>-->
              <!--<li class="nav-item">-->
                <!--<a class="nav-link" href="batchMintTranche">-->
                  <!--<i class="nav-icon icon-puzzle"></i></a>-->
              <!--</li>-->
            </ul>
          </li>

          <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
              <i class="nav-icon icon-layers"></i>STO contract</a>
            <ul class="nav-dropdown-items">
              <li class="nav-item">
                <a class="nav-link" href="getSTOSecurityToken">
                  <i class="nav-icon icon-puzzle"></i>ST of STO</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="getSTODetails">
                  <i class="nav-icon icon-puzzle"></i>Config of STO</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="configureSTO">
                  <i class="nav-icon icon-puzzle"></i>Config STO</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="buy">
                  <i class="nav-icon icon-puzzle"></i>Invest STO(ETH)</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="buyWithToken">
                  <i class="nav-icon icon-puzzle"></i>Invest STO(Token)</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="checkBuy">
                  <i class="nav-icon icon-puzzle"></i>Check STO invest(ETH)</a>
              </li>
            </ul>
          </li>

          <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
              <i class="nav-icon icon-layers"></i>GP Contract</a>
            <ul class="nav-dropdown-items">
              <li class="nav-item">
                <a class="nav-link" href="modifyWhiteList">
                  <i class="nav-icon icon-puzzle"></i>Modify whitelist</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="batchModifyWhiteList">
                  <i class="nav-icon icon-puzzle"></i>Modify whitelist(batch)</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="getPolicyDetails">
                  <i class="nav-icon icon-puzzle"></i>Investor polify</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="getGPSecurityToken">
                  <i class="nav-icon icon-puzzle"></i>Get GP of ST</a>
              </li>
            </ul>
          </li>

          <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
              <i class="nav-icon icon-layers"></i>STGFactory Contract</a>
            <ul class="nav-dropdown-items">
              <li class="nav-item">
                <a class="nav-link" href="createST">
                  <i class="nav-icon icon-puzzle"></i>Deploy ST&GP</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="getSTGstoFactory">
                  <i class="nav-icon icon-puzzle"></i>Get STOFactory</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="initSTGP">
                  <i class="nav-icon icon-puzzle"></i>Init ST&GP</a>
              </li>
            </ul>
          </li>

          <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
              <i class="nav-icon icon-layers"></i>STOFactory Contract</a>
            <ul class="nav-dropdown-items">
              <li class="nav-item">
                <a class="nav-link" href="createSTO">
                  <i class="nav-icon icon-puzzle"></i>Deploy STO</a>
              </li>

            </ul>
          </li>

          <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
              <i class="nav-icon icon-layers"></i>RAC Contract</a>
            <ul class="nav-dropdown-items">
              <li class="nav-item">
                <a class="nav-link" href="initRole">
                  <i class="nav-icon icon-puzzle"></i>Init contract permission</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="checkRole">
                  <i class="nav-icon icon-puzzle"></i>Check permission</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="addRole">
                  <i class="nav-icon icon-puzzle"></i>Add permission</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="batchAddRole">
                  <i class="nav-icon icon-puzzle"></i>Add permission(batch)</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="removeRole">
                  <i class="nav-icon icon-puzzle"></i>Delete permission</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="batchRemoveRole">
                  <i class="nav-icon icon-puzzle"></i>Delete permission(batch)</a>
              </li>
            </ul>
          </li>

          <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
              <i class="nav-icon icon-layers"></i>PR Contract</a>
            <ul class="nav-dropdown-items">
              <li class="nav-item">
                <a class="nav-link" href="prCheckContract">
                  <i class="nav-icon icon-puzzle"></i>Check status</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="prAddContract">
                  <i class="nav-icon icon-puzzle"></i>Add contract</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="prRemoveContract">
                  <i class="nav-icon icon-puzzle"></i>Remove contract</a>
              </li>
            </ul>
          </li>

        </ul>
    </nav>
  <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>
