<%- include header %>

<div class="app-body">
  <%- include menu %>
  <main class="main">
    <!-- Breadcrumb-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">Basic</li>
      <li class="breadcrumb-item active">User signature</li>
    </ol>

    <div class="container-fluid">
      <div class="animated fadeIn">
        <div class="card">
          <div class="card-header">personalSign(_value)</div>
          <div class="card-body">
            <div class="bd-example">
              User signature
          </div>
            </div>
        </div>
        </div>
    </div>

    <%- include code %>

  </main>
</div>
<script type="text/javascript">

  function runCode() {
    personalSign('1543907687356').then();
  }

  function verifySign(account, msg, signature) {
    $.post("/api/verifyPersonalSign",{account:account, msg:msg, signature:signature},function(res){
      var result = "account:" + account +"\n";
      result += "msg:" + msg + "\n";
      result += "signature:" + signature + "\n";
      result += "result.code:" + res.code + "\n";
      result += "result.msg:" + res.msg + "\n";
      result += "result.data:" + res.data + "\n";
      setResult(result);
    });
  }

  async function personalSign(msg) {
    var account = web3.eth.coinbase;
    var result = "账号：" + account +"\n";

    try {
      var res = await ethPersonalSign(account, msg);
      console.log('res:', res);
      verifySign(account, msg, res);
    } catch (e) {
      result += "error:" + e + "\n";
      setResult(result);
    }


  }

  $(document).ready(function() {
    var code = runCode.toString() + "\n\n";
    code += verifySign.toString() + "\n\n";
    code += personalSign.toString() + "\n\n";
    code += "runCode();\n\n";
    setCode(code);

  });

</script>
<%- include footer %>
